
<div class="col-sm-9 col-lg-9 col-md-9">
    <div class="well">
      <!--Sidebar content-->

      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
      </select>
    </div>
</div>

   <div class="col-sm-9 col-lg-9 col-md-9">


      <ul class="widget-products">
                  <li ng-repeat="game in games | filter:{name: query } | orderBy:orderProp">
                     <span class="img">
                     <img class="img-thumbnail" ng-src="{{game.imageUrl}}" alt="">
                     </span>
                     <span class="product clearfix">
                     <span class="name">
                     <a href="">
                     {{game.name}}
                     </a>
                     </span>
                     <span class="price">
                     {{game.snippet}}
                     </span>
                     </span>
                  </li>
      </ul>
  <!--
     <ul  class="games">
        <li ng-repeat="game in games | filter:{name: query } | orderBy:orderProp" class="thumbnail">
           <a href="" class="thumb"><img ng-src="{{game.imageUrl}}"></a>
           <a href="">{{game.name}}</a>
           <p>{{game.snippet}}</p>
        </li>
      </ul>
   -->   
    </div>
