.view {
  padding-top: 25px;
  padding-bottom: 20px;

}
body {
    padding: 5px;
}
.normal {
  font-size: 18px;
}

button {
    margin: 5px 5px 5px 5px;
}

.games {
      list-style: none;
}

.thumb {
  float: left;
  margin: -0.5em 1em 1.5em 0;
  padding-bottom: 1em;
  height: 100px;
  width: 100px;
}

.games li {
  height: 95px;
  padding-top: 15px;
}

 